body {
  background-color: #DFE6B8 !important;
}

.content-container {
  padding: 20px;
}

.header-div {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 50px;
  top: 0px;
}

h1 {
  color: #190c8d;
  margin-right: 20px;
}

.recipe {
  background-color: black;
}

.recipe-page-label {
  font-size: 20px;
  color: steelblue;
  text-decoration: underline;
}

.d-flex {
  display: flex;
  flex-direction: row;
}