{% extends 'main.html' %} 
{% load static %}
{% block extra_head %}
  <link rel="stylesheet" href="{% static 'stylesheets/obj.css' %}?v=1.1" />
{% endblock extra_head %}
{% block content %}
  <div class="container-lg">
    <!-- Force centering with inline styles to override external CSS -->
    <div style="display: flex; justify-content: center; width: 100%;">
      <div>
        <div>
        <h1 class="text-center my-4">Bitte wählen Sie <br>aus der folgenden Liste aus.</h1>
      </div>
        {% for obj in objects %} 
          {% comment %} Determine the correct URL based on the object type {% endcomment %}
          {% if obj_type == 'main-ingredients' %}
            {% url 'main-ingredients-id' obj.id as item_url %}
          {% elif obj_type == 'cuisines' %}
            {% url 'cuisines-id' obj.id as item_url %}
          {% elif obj_type == 'recipe_types' %}
            {% url 'recipe-types-id' obj.id as item_url %}
          {% endif %}

          {% comment %} Render the link as a styled button in its own div for spacing {% endcomment %}
          <div class="my-2">
            <a href="{{ item_url }}" class="btn btn-light rounded-pill" style="font-size: 18px;">
              {{ obj }}
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}
