{% extends 'main.html' %} {% block content %}
<div class="container text-center">
  {% if msg %}
  <h2>{{msg}}</h2>
  {% endif %}
  <div class="row gy-5">
    {% for recipe in recipes %}
    <div class="col-lg-3 col-md-6 col-12 text-start">
      <img
        class="recipe-card-image"
        src="{{ recipe.recipe_image }}"
        alt="{{ recipe.recipe_name }}"
      />
      <div class="recipe-card-title-container">
        <p class="recipe-card-title">{{ recipe.recipe_name }}</p>
      </div>
      <!-- Include description if it's exist -->
      {% if recipe.recipe_description %}
      <p class="recipe-card-description">
        {{ recipe.recipe_description }}
      </p>
      {% else %}
      <p class="recipe-card-description">---</p>
      {% endif %}

      <p>
        Posted by
        <a href="{% url 'user-profiles' recipe.recipe_author.id %}"
          >{{ recipe.recipe_author }}</a
        >
      </p>

      <div class="d-flex flex-wrap gap-1">
        <a href="{% url 'recipe-page' recipe.id %}">
          <button class="btn btn-warning btn-sm">Mehr</button></a
        >

        {% if user.is_superuser or user == recipe.recipe_author %}
        <a href="{% url 'update-recipe' recipe.id %}"
          ><button class="btn btn-primary btn-sm">Bearbeiten</button></a
        >

        <a href="{% url 'delete-recipe' recipe.id %}"
          ><button class="btn btn-danger btn-sm">Löschen</button></a
        >
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
