{% extends 'main.html' %} 
{% load static %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'stylesheets/privacy.css' %}?v=1.1" />
{% endblock %}

{% block content %}

<div class="login-container">
  <div class="privacy-policy-text">
    
    <div class="privacy-header"> 
                                                  <h3>Datenschutzrichtlinie</h3>
    </div>
    <p>
     Die Website „Monika's Rezept Teilen“ gehört JJIT Professional Consulting, dem Verantwortlichen für Ihre personenbezogenen Daten. Wir haben diese Datenschutzerklärung verabschiedet, die festlegt, wie wir die von „Monika's Rezept Teilen“ erhobenen Informationen verarbeiten und warum wir bestimmte personenbezogene Daten über Sie erheben müssen. Daher müssen Sie diese Datenschutzerklärung lesen, bevor Sie die Website „Monika's Rezept Teilen“ nutzen.
    </p>
    <p>
      Wir behandeln Ihre personenbezogenen Daten vertraulich und garantieren deren Sicherheit. Welche personenbezogenen Daten wir erfassen: Beim Besuch von Monika's Rezept Teilen erfassen wir automatisch bestimmte Informationen über Ihr Gerät, darunter Informationen über Ihren Webbrowser, Ihre IP-Adresse, Ihre Zeitzone und einige der auf Ihrem Gerät installierten Cookies. Darüber hinaus erfassen wir während Ihres Besuchs Informationen über die von Ihnen aufgerufenen Webseiten und Produkte, die Websites oder Suchbegriffe, die Sie zu uns geführt haben, und Ihre Interaktion mit der Website. Diese automatisch erfassten Informationen bezeichnen wir als „Geräteinformationen“. Zur Erfüllung dieser Vereinbarung erfassen wir gegebenenfalls auch die personenbezogenen Daten, die Sie uns im Kontaktformular übermitteln (einschließlich, aber nicht beschränkt auf Name, Nachname, E-Mail-Adresse usw.).
    </p>
    <p>
      Warum verarbeiten wir Ihre Daten? Wir verarbeiten Ihre personenbezogenen Daten, um unsere Website bereitzustellen und zu verbessern (einschließlich der Überwachung und Analyse der Website-Nutzung sowie der Entwicklung neuer Produkte, Dienstleistungen, Funktionen und Features) und um mit Ihnen zu kommunizieren. Die Sicherheit Ihrer Daten hat für uns höchste Priorität. Daher verarbeiten wir nur die unbedingt notwendigen Nutzerdaten, um die Website aufrechtzuerhalten. Automatisch erfasste Informationen dienen ausschließlich der Identifizierung potenzieller Missbrauchsfälle und der Erstellung von Statistiken zur Website-Nutzung. Diese Statistiken werden nicht so zusammengeführt, dass einzelne Nutzer identifiziert werden können.
    </p>
    <p>
      Sie können unsere Website besuchen, ohne uns Ihre Identität preiszugeben oder Informationen anzugeben, anhand derer Sie als Person identifiziert werden könnten. Wenn Sie jedoch bestimmte Funktionen der Website nutzen, unseren Newsletter abonnieren oder uns über ein Formular weitere Informationen mitteilen möchten, können Sie uns personenbezogene Daten wie Ihre E-Mail-Adresse, Ihren Vor- und Nachnamen übermitteln. Sie können die Angabe Ihrer personenbezogenen Daten verweigern, wodurch Sie jedoch möglicherweise einige Funktionen der Website nicht nutzen können. Beispielsweise können Sie dann unseren Newsletter nicht abonnieren oder uns direkt über die Website kontaktieren. Nutzer, die sich bezüglich der Pflichtangaben unsicher sind, können uns gerne unter jjones@jjit-consulting.solutions kontaktieren.
    </p>
    <p>
      Ihre Rechte: Wenn Sie in Europa ansässig sind, haben Sie folgende Rechte in Bezug auf Ihre personenbezogenen Daten: Recht auf Auskunft, Recht auf Zugang, Recht auf Berichtigung, Recht auf Löschung, Recht auf Einschränkung der Verarbeitung, Recht auf Datenübertragbarkeit, Widerspruchsrecht sowie Rechte in Bezug auf automatisierte Entscheidungsfindung und Profiling. Wenn Sie eines dieser Rechte ausüben möchten, kontaktieren Sie uns bitte über die unten stehenden Kontaktdaten.
    </p>
    <p>

      Wenn Sie in Europa ansässig sind, möchten wir Sie außerdem darauf hinweisen, dass wir Ihre Daten verarbeiten, um Verträge mit Ihnen zu erfüllen (z. B. bei einer Bestellung über die Website) oder um unsere oben genannten berechtigten Geschäftsinteressen zu verfolgen. Ihre Daten können auch außerhalb Europas, unter anderem nach Kanada und in die USA, übermittelt werden.
    </p>
    <p>
      Links zu anderen Websites:<br>

      Unsere Website kann Links zu anderen Websites enthalten, die nicht in unserem Besitz sind oder von uns kontrolliert werden. Bitte beachten Sie, dass wir nicht für solche anderen Websites oder die Datenschutzpraktiken Dritter verantwortlich sind. Wir empfehlen Ihnen, aufmerksam zu sein, wenn Sie unsere Website verlassen, und die Datenschutzerklärungen jeder Website zu lesen, die personenbezogene Daten sammeln könnte. 
    </p>  
    <p>
      Informationssicherheit:<br>

      Wir sichern die von Ihnen bereitgestellten Informationen auf Computer-Servern in einer kontrollierten, sicheren Umgebung, die vor unbefugtem Zugriff, Nutzung oder Offenlegung geschützt ist. Wir halten angemessene administrative, technische und physische Schutzmaßnahmen ein, um unbefugten Zugriff, Nutzung, Änderung und Offenlegung personenbezogener Daten, die sich in unserer Kontrolle und Obhut befinden, zu verhindern. Dennoch kann keine Datenübertragung über das Internet oder drahtlose Netzwerke garantiert werden.
    </p>
    <p>
      Rechtliche Offenlegung:<br>

      Wir werden alle Informationen, die wir sammeln, verwenden oder erhalten, offenlegen, wenn dies gesetzlich vorgeschrieben oder erlaubt ist, beispielsweise um einer Vorladung oder einem ähnlichen rechtlichen Verfahren nachzukommen, und wenn wir in gutem Glauben der Ansicht sind, dass die Offenlegung notwendig ist, um unsere Rechte zu schützen, Ihre Sicherheit oder die Sicherheit anderer zu gewährleisten, Betrug zu untersuchen oder auf eine behördliche Anfrage zu reagieren.
    </p>
    <p>
      Kontaktinformationen:<br>

      Wenn Sie uns kontaktieren möchten, um mehr über diese Richtlinie zu erfahren oder uns in Bezug auf individuelle Rechte und Ihre personenbezogenen Daten zu kontaktieren, können Sie eine E-Mail an jjones@jjit-consulting.solutions senden.
    </p>
  </privacy-policy-text>
</div> 
{% endblock %}
