{% extends 'main.html' %} 
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'stylesheets/signup.css' %}?v=1.1" />
{% endblock %}

{% block content %}
<div class="signup-container">
  <form method="post" action="">
    {% csrf_token %}
    <div class="mb-2">
      <label for="first_name" class="form-label">Vorname</label>
      <input
        type="text"
        class="form-control"
        name="first_name"
        required
        minlength="2"
      />
    </div>
    <div class="mb-2">
      <label for="last_name" class="form-label">Nachname</label>
      <input
        type="text"
        name="last_name"
        class="form-control"
        required
        minlength="2"
      />
    </div>
    <div class="mb-2">
      <label for="username" class="form-label">Benutzername</label>
      <input
        type="text"
        name="username"
        class="form-control"
        required
        minlength="5"
      />
    </div>
    <div class="mb-2">
      <label for="password" class="form-label">Passwort</label>
      <input
        type="password"
        name="password"
        class="form-control"
        required
        minlength="8"
      />
    </div>
    <div class="mb-2">
      <label for="password" class="form-label">Passwort erneut</label>
      <input
        type="password"
        name="password2"
        class="form-control"
        required
        minlength="8"
      />
    </div>
    <button type="submit" class="btn btn-warning">Absenden</button>
  </form>
</div>  

{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %} {% endblock %}
